/* CSS used on every Page */
p.error {
    font-family: arial, sans-serif;
    line-height: 150%;
    margin-left: 2em;
    padding: 1em;
    border: 3px solid red;
    background-color: #f89;
    display: inline-block;
}
div.uebersicht {
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid gray;
    border-radius: 10px;
    min-width: 400px;
    background-color: white;
}
div.uebersicht th,
div.uebersicht td {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

/* Designaenderung Twenty Fourteen */
.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
    max-width: 100%;
}